<section class='widget hitokoto'>
<%- partial('header', {item: item, defIcon: 'fas fa-code', defTitle: '一言'}) %><div>
    <div class="content pure">
    <div>
        <div style="display: table-cell;vertical-align: top; color:#B2B7F2;font-size:24px;font-family:'Times New Roman',serif;font-weight:bold;text-align:left;">“</div>
        <div style="display: table-cell;text-align: left; vertical-align: middle; text-indent: 2em; padding: 0.8em 0.2em 1em 0.2em"><b><span style="color:burlywood;"><span id="hitokoto-content"></span></span></b></div>
        <div style="display: table-cell; vertical-align: bottom; color:#B2B7F2;font-size:24px;font-family:'Times New Roman',serif;font-weight:bold;text-align:left;">”</div>
    </div>
    <div style="text-align: right; font-size: 0.8em; color: black;" id="hitokoto-from"></div>
</section>