<section class='widget <%- item.widget?item.widget:'ip' %>'>
	<%- partial('header', {item: item, defIcon: 'fas fa-user', defTitle: 'IP地址'}) %>
	<div class='content <%= theme.style %>'>
		<div id="ip"></div>
	</div>
  </section>
  