<% if (theme.music && theme.music.enable == true) { %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css" rel="noreferrer">
  <div id="aplayer"></div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js" rel="noreferrer"></script>
    <script type="text/javascript" src="/dist/music.js" rel="noreferrer"></script>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/meting@1.1.0/dist/Meting.min.js"></script>
<% } %>
